@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  @apply font-inter text-white text-base;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: #bdbdbd;
  border-radius: 5px;
  padding: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #b102cd;
  border: 3px solid #bdbdbd;
  border-radius: 12px;
  width: 5px;
}

.coin-description a {
  color: #b102cd;
}

.darken-image {
  background-image: linear-gradient(
      to bottom,
      rgb(0, 0, 0, 0.5),
      rgb(0, 0, 0, 0.5)
    ),
    url("/auth-bg.jpg");

  background-color: #0b0b0f;
}

@media screen and (min-width: 640px) {
  .darken-image {
    background-image: url("/auth-bg.jpg");
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.loading {
  animation: ripple 1s linear infinite;
  transition: box-shadow 0.7s ease;

  box-shadow: 10px 5px 5px 10px 200, 200;
}

.blocked {
  pointer-events: none;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(167, 36, 196, 0.3),
      0 0 0 1px rgba(167, 36, 196, 0.3), 0 0 0 3px rgba(167, 36, 196, 0.3),
      0 0 0 5px rgba(167, 36, 196, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(167, 36, 196, 0.3),
      0 0 0 4px rgba(167, 36, 196, 0.3), 0 0 0 20px rgba(167, 36, 196, 0),
      0 0 0 30px rgba(167, 36, 196, 0);
  }
}
